  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="/"><span>E&ICT</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="board">Board</a></li>
          <li><a href="sensor_view">SENSOR DATA</a></li>
          <li><a href="charts">SENSOR_DATA Chart</a></li>
          <li><a href="sensor_chart">SENSOR_DATA Chart2</a></li>
          <li><a href="dust_main">대전 서구청</a></li>


        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->